<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">

    <title>BS4 + WP</title>
  </head>
  <body>
    <div class="container">
        <div class="row mt-4 align-items-center">
            <div class="col-md-8 col-sm-12">
                <h1>Meu primeiro tema</h1>
                <p class="lead">Fiz com wordpress</p>
            </div>
            <div class="col-md-4 col-sm-12 mb-3">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="O que procura">
                        <div class="input-group-append">
                            <button class="btn btn-cor-1" type="button">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col mb-5">
                <nav class="navbar navbar-expand-lg navbar-dark bg-cor-1 rounded">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#meuNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="meuNavbar">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Sobre</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Serviços</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Contatos</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-sm-12">
               
                <div class="blog-post mb-5">

                    <h3 class="mb-3 pb-2 border-bottom"><a href="">Titulo da Postagem</a></h3>
                    
                    <div class="row">
                        <div class="col-md-12 col-lg-6 mb-3">
                            <a href=""><img src="assets/img.jpg" alt="Técnologia" class="img-fluid rounded"></a>
                        </div>
                        <div class="col-md-12 col-lg-6 mb-3">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Sapiente nesciunt eveniet nulla perferendis saepe perspiciatis voluptas, 
                                repellat illo maiores sunt expedita. Nisi magni commodi ipsam numquam consectetur 
                                optio dolore libero?</p>
                        </div>
                    </div>                        
                        <p class="text-muted">Publicado em: <span class="badge badge-cor-3">23/07/2018</span></p>
                </div>


                <div class="blog-post mb-5">

                    <h3 class="mb-3 pb-2 border-bottom"><a href="">Titulo da Postagem</a></h3>
                    
                    <div class="row">
                        <div class="col-md-12 col-lg-6 mb-3">
                            <a href=""><img src="assets/img.jpg" alt="Técnologia" class="img-fluid rounded"></a>
                        </div>
                        <div class="col-md-12 col-lg-6 mb-3">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Sapiente nesciunt eveniet nulla perferendis saepe perspiciatis voluptas, 
                                repellat illo maiores sunt expedita. Nisi magni commodi ipsam numquam consectetur 
                                optio dolore libero?</p>
                        </div>
                    </div>                        
                        <p class="text-muted">Publicado em: <span class="badge badge-cor-3">23/07/2018</span></p>
                </div>
              
                
                <div class="blog-post mb-5">

                    <h3 class="mb-3 pb-2 border-bottom"><a href="">Titulo da Postagem</a></h3>
                    
                    <div class="row">
                        <div class="col-md-12 col-lg-6 mb-3">
                            <a href=""><img src="assets/img.jpg" alt="Técnologia" class="img-fluid rounded"></a>
                        </div>
                        <div class="col-md-12 col-lg-6 mb-3">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Sapiente nesciunt eveniet nulla perferendis saepe perspiciatis voluptas, 
                                repellat illo maiores sunt expedita. Nisi magni commodi ipsam numquam consectetur 
                                optio dolore libero?</p>
                        </div>
                    </div>                        
                        <p class="text-muted">Publicado em: <span class="badge badge-cor-3">23/07/2018</span></p>
                
                </div>
               
               
                <div class="blog-post mb-5">

                    <h3 class="mb-3 pb-2 border-bottom"><a href="">Titulo da Postagem</a></h3>
                    
                    <div class="row">
                        <div class="col-md-12 col-lg-6 mb-3">
                            <a href=""><img src="assets/img.jpg" alt="Técnologia" class="img-fluid rounded"></a>
                        </div>
                        <div class="col-md-12 col-lg-6 mb-3">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Sapiente nesciunt eveniet nulla perferendis saepe perspiciatis voluptas, 
                                repellat illo maiores sunt expedita. Nisi magni commodi ipsam numquam consectetur 
                                optio dolore libero?</p>
                        </div>
                    </div>                        
                        <p class="text-muted">Publicado em: <span class="badge badge-cor-3">23/07/2018</span></p>
                
                </div>

               
                <div class="blog-pagination mt-5 mb-5">
                    <a href="" class="btn btn-outline-cor-3">Mais antigos</a>
                    <a href="" class="btn btn-outline-cor-3">Mais novos</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card mb-5">
                    <h5 class="card-header">Categorias</h5>
                    <div class="card-body">
                        <ul>
                            <li><a href="">Html5</a></li>
                            <li><a href="">Css3</a></li>
                            <li><a href="">Php</a></li>
                            <li><a href="">Wordpress</a></li>
                        </ul>
                    </div>
                </div>

                <div class="card mb-5">
                    <h5 class="card-header">Ultimos Posts</h5>
                    <div class="card-body">
                        <ul>
                            <li><a href="">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="">Lorem ipsum dolor</a></li>
                            <li><a href="">Lorem ipsum dolor sit</a></li>
                            <li><a href="">Lorem ipsum dolor sit amet consectetur</a></li>
                        </ul>
                    </div>
                </div>

                <div class="card mb-5">
                    <h5 class="card-header">Ultimos Posts</h5>
                    <div class="card-body">
                        <ul>
                            <li><a href="">instagram</a></li>
                            <li><a href="">youtube</a></li>
                            <li><a href="">github</a></li>
                            <li><a href="">email</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="w-100 bg-cor-4 border-top border-dark mt-5">
        <div class="container">
            <div class="row">
                <div class="col py-5 text-center text-white">
                    <h5>Meu primeiro tema de Wordpress</h5>
                    <p class="mb-0">Feito por mim com muito esforço e dedicação</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>