/*
Name do Tema: bs4wp
Author: Márcio Fujikura
Description: Primeiro tema wordpress com bootstrap4
Version: 1.0
Licence: Licença Pública Geral GNU v2 ou posterior
Este tema, como o WordPress, é licenciado sob a GPL.
*/